.about-content {
    max-width: 41.6vw;
    text-align: left;
    color: black;
    padding-left: 1vw;
}

.about-content p {
    font-size: 0.93vw;
}

.about-img {
    /* width: 43vw; */
    height: 55vh;
}

.about-img-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
}

.about-page {
    padding-top: 12vh;
}

.about-img-container {
    /* padding: 17vh; */
    /* padding: 7vh 0vw 0vh 0vw; */
}

.about-title {
    font-size: var(--title_size);
    font-weight: var(--title_weight);
    color: var(--title_color);
}