@media (max-width: 576px) {
    .team-member, .about-container, .about-content, .services-container, .service-card {
        width: 100%;
      }

      .team, .about, #services {
        width: 100%;
        /* padding: 75px 0px; */
      }

      .logo-menu-bar {
        padding-top: 3vh;
      }
}

@media (max-width: 300px) {

}